<!--The content below is only a placeholder and can be replaced.-->
<div>
  
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Selise Demo</a>
        </div>
        <ul class="nav navbar-nav">
          
          <li><a routerLink="/dashboard">Home</a></li>
          <li><a routerLink="/form">Insert Data</a></li>
          <li><a routerLink="/ng2-chart">ng2 chart data refresh</a></li>

        </ul>
      </div>
    </nav>
  
  <router-outlet></router-outlet>
  
  
</div>


