<p>
  dashboard works!
</p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Location</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>item.Type</td>
        <td>item.Date</td>
        <td>item.Location</td>
        <td>item.Quantity</td>
        <td>item.Status</td>
        <td>item.Description</td>
      </tr>
    </tbody>
  </table>